h1 {
	color: white;
	margin-top: 0px;
	font-family: 'Chivo', sans-serif;
	font-size: 45px;
	display: block;
}

.banner p {
	color: white;
	opacity: 70%;
	font-family: 'Overpass', sans-serif;
	font-size: 24px;
	margin: 24px 0px;
	display: block;
	line-height: 18px;
}

.banner {
	text-align: center;
	background-image: url("images/background.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 150px;
	padding-bottom: 150px;
	height: 189px;
}

body {
	margin:  0px;
}

.button-blue {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;
	justify-content: space-between;
	height: 24px;
	background-color: #1A48E3;
	border-radius: 4px;
	text-decoration: none;
	padding: 17px 48px;
	display: inline-block;
	transition: O.3s;
	margin: 6px 0px;
}

.button-blue:hover {
	background-color: #0d1ec6;
}

img {
	width: 200px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.cards-box {
	background-color: white;
	box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 24px;
    margin: 8px;
    flex-grow: 1;
}

.img-cards {
	width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

h2 {
	display: block;
	color: #404042;
	font-size: 27px;
	font-family: 'Chivo', sans-serif;
}

h3 {
	display: block;
	color: #404042;
	font-size: 21px;
	font-family: 'Chivo', sans-serif;
	margin-top: 23px;
	margin-bottom: 0;
}

p {
	color: #404042;
	font-size: 18px;
	font-family: 'Overpass', sans-serif;
}

.footer {
	font-family: Overpass;
	bottom: 100%;
    background: #404042;
    font-size: 18px;
    color: #white;
    padding: 10px 0px;
    height: 148px;
    display: block;
}

.footer-text {
	color: white;
	font-size: 18px;
}

.container {
	display: block;
	width: 900px;
	margin: 60px auto;
}